
body, html {
    margin: 0;
    padding: 0;
}


.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bg1 {
    background-image: url("https://i.imgur.com/fbEru8g.png");
}

.bg2 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvAljt2CRnukkxptiKDkN_-NpT987J7FO_IGrvJ-WBm9V_0h-tw2T4PvmOlvhXdgOfqx4LS0AkZESfNG5zEk84P46YumQoKR8mUCS3ug&s=10");
}


.text {
    color: white;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
}


.content {
    height: 300px;
    background: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
}
