body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  text-align: center;
}

h1 {
  margin: 15px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: none; /* invisible table */
  padding: 8px;
}

.profile {
  width: 200px;
}

.login {
  font-weight: bold;
  font-size: 20px;
}

.desc {
  color: gray;
}

.location {
  font-size: 14px;
}

.social img {
  width: 20px;
  margin: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
